[submodule "apps/AudioRecorderMp3"]
	path = apps/AudioRecorderMp3
	url = https://github.com/Sgamb29/AudioRecorderMp3.git
[submodule "apps/SimpleCalorieCounter"]
	path = apps/SimpleCalorieCounter
	url = https://github.com/Sgamb29/SimpleCalorieCounter.git
[submodule "apps/RandomizeMyDay"]
	path = apps/RandomizeMyDay
	url = https://github.com/Sgamb29/RandomizeMyDay.git
[submodule "apps/MusicLearningGame"]
	path = apps/MusicLearningGame
	url = https://github.com/Sgamb29/MusicLearningGame.git
[submodule "apps/RandomScripture"]
	path = apps/RandomScripture
	url = https://github.com/Sgamb29/RandomScripture.git
[submodule "apps/CrazyEights"]
	path = apps/CrazyEights
	url = https://github.com/Sgamb29/CrazyEights.git
[submodule "apps/SimpleDrawing"]
	path = apps/SimpleDrawing
	url = https://github.com/Sgamb29/SimpleDrawing.git
[submodule "apps/EndlessTyping"]
	path = apps/EndlessTyping
	url = https://github.com/Sgamb29/EndlessTyping.git
[submodule "apps/EarTuner"]
	path = apps/EarTuner
	url = https://github.com/Sgamb29/EarTuner.git
